[% start_year=2008 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/Table-Trans-[% info.version %]/examples/[% pl %]> in the distribution.)
[% END %]
[% MACRO since(version) BLOCK -%]
This method was added in version [% version %] of the module.
[%- END %]
=encoding UTF-8

=head1 NAME

[% info.colon %] - A simple translation system for templating

=head1 SYNOPSIS

[% example("synopsis") %]

=head1 VERSION

This documents version [% info.version %] of [% info.name %]
corresponding to L<git commit [% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %].

=head1 DESCRIPTION

This module provides simple translation storage based on the
L<Table::Readable> format.

=head1 FUNCTIONS

=head2 get_lang_name

    my $language = get_lang_name ($lang);

Given a language code like C<en>, convert it into the native name of
the language, like "English".

=head2 get_lang_trans

     get_lang_trans ($trans, $vars, $lang);

Put the translations from $trans for language $lang into
$vars->{trans}. This is intended for the case where you want to run a
template file several times with different languages. For example
using L<Template> you might have

    [ % trans.frog % ]

in your template, then run it with

    for my $lang (qw!en ja de!) {
        get_lang_trans ($trans, \%vars, $lang);
        $vars{lang} = $lang;
        $tt->process ('in.tmpl', \%vars, "out.$lang.html", binmode => 'utf8');
    }

to produce similar outputs in three languages.

=head2 read_trans

    my $trans = read_trans ('file.txt');

Also get the order:

    my ($trans, $order) = read_trans ('file.txt');

Read a file of translations in L<Table::Readable> format.

The same options as L<Table::Readable/read_table> are accepted. To
read from a scalar instead of a file, use C<< scalar => 1 >>:

    my $trans = read_trans ($text, scalar => 1);

=head2 trans_to_json_file

    trans_to_json_file ('file.txt', 'file.json');

Convert the translations in F<file.txt> into F<file.json>.

=head2 write_trans

     write_trans (\%trans, [qw/en ja es/], "output.txt", \@id_order);

Write the translations stored in C<%trans> for the languages "en",
"ja" and "es" in the order given by C<@id_order> to the file
C<output.txt> in the L<Table::Readable> format.

=head1 FORMAT

The basic format of the translations is the L<Table::Readable> format,
with each translated piece of text being identified with the code
C<id> then each particular language having its own entry.

=head2 Macros

Macros to insert another translation can be used in the form C<{{id}}>
and the translation of C<id> in the language of the entry will be
inserted, so if we have

    id: ape
    en: monkey
    ja: さる

    id: monkeybusiness
    en: {{ape}} business
    ja: {{ape}}さわぎ

then the C<ja> (Japanese) entry for the ID "monkeybusiness" will be さ
るさわぎ and the English entry will be "monkey business".

To use the same substitution for every language, use the key "all":

    id: email
    all: bkb@cpan.org

    id: contact
    en: Email me at <a href='mailto:{{email}}'>{{email}}</a>
    ja: メルアド：<a href='mailto:{{email}}'>{{email}}</a>

If either C<all> or the specific language translation (C<en> or C<ja>)
does not exist, a fatal error occurs.

=head1 DEPENDENCIES

=over

=item L<JSON::Create>

This is used for storing the translations in JSON format.

=item L<JSON::Parse>

This is only used by the tests.

=item L<Table::Readable>

This is used as the basic format for storing and editing translations.

=back

=head1 BUGS

=over

=item id is Indonesian

Unfortunately the two-letter ISO code for the Indonesian language is
C<id>, so at some point it will become necessary to change to a
different key. I haven't done it yet due to the work involved in
changing a large number of files over to a different key, and because
I am not currently supporting Indonesian language anywhere.

=back

=head1 SEE ALSO

=head2 CPAN

There are several modules on CPAN for dealing with the GNU gettext
format, and one for dealing with the TMX format for human-language
translations.

[% PROCESS 'cpm.pod' %]

=head3 GNU gettext

=over

[% cpm("Data::Localize::Gettext") %]

[% cpm("File::Gettext") %]

[% cpm("Gettext") %]

[% cpm("Locale::gettext") %]

[% cpm("Locale::Maketext::Gettext") %]

[% cpm("Locale::XGettext") %]

[% cpm("qbit::GetText") %]

=back

=head3 Other formats and ideas

=over

[% cpm("Lingua::String") %]

Strings which come out in different languages depending on the
environment.

[% cpm("Locale::Country::Multilingual") %]

This does something like L</get_lang_name> in this module, but more
comprehensively.

[% cpm("MetaTrans") %]

"Class for creating multilingual meta-translators"

[% cpm("Pangloss") %]

"A multilingual web-based glossary." There's a huge amount of code
here, but the last update was in 2004.

[% cpm("XML::TMX") %]

This module supports the TMX (Translation Memory eXchange) format,
which is XML.

=back

=head2 Other

=over

=item OmegaT

L<OmegaT|https://en.wikipedia.org/wiki/OmegaT> (link to Wikipedia) is
a free-software translation system in Java which supports Gettext and
TMX.

=item Trados

L<Trados|https://en.wikipedia.org/wiki/SDL_Trados_Studio> (link to
Wikipedia) is the most popular commercial translation memory software.

=back

[% INCLUDE "author" %]
